{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load music_tags %}

{% block title %}
    {{ playlist.name }} - {{ playlist.user.profile.nickname }} | StrayVoice
{% endblock %}

{% block content %}
<div id="container">
    {% show_user_side_bar request playlist %}
    <div class="content-container-left">
        <div style="overflow: auto;">
            <div class="wid25 left">
                <div class="cover-playbtn">
                    {% if not playlist.cover %}
                        <img src="{% static 'img/no_image_photo.png' %}" height="175px" width="175px">
                    {% else %}
                    {% thumbnail playlist.cover "175x175" crop="center" as im %}
                        <img src="{{ im.url }}" height="175px" width="175px">
                    {% endthumbnail %}
                    {% endif %}
                        <i class="playlist-play-btn play-song-br fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="wid75 left">
                <h1>
                    {{ playlist.name }}
                    {% if not playlist.published %}
                    <span style="color: red;">(隱藏中)</span>
                    {% endif %}
                </h1>
                <div class="btns">
                    {% if playlist in request.user.like_playlists.all %}
                        <i class="playlist-like-btn fa fa-heart fa-15x red" style="margin-right: 20px;">&nbsp;{{ playlist.total_likes }}</i>
                    {% else %}
                        <i class="playlist-like-btn fa fa-heart-o fa-15x" style="margin-right: 20px;">&nbsp;{{ playlist.total_likes }}</i>
                    {% endif %}
                    <i class="fa fa-plus fa-15x">新增</i>
                    <ul class="dropdown">
                        <li class="playlist-add-queue">加入播放佇列</li>
                        {% if playlist.published %}
                            <li class="playlist-add-playlist">加入歌單</li>
                        {% endif %}
                    </ul>
                </div>
                <table class="no-border">
                    <tr>
                        <th>曲目</th>
                        <td>{{ playlist.songs.count }}</td>
                    </tr>
                    <tr>
                        <th>發佈</th>
                        <td>
                            {{ playlist.created|date:"Y 年 m 月 d 日" }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div>
            <div class="inline-middle">
                <i class="playlist-play-btn fa fa-play-circle fa-4x big-play-btn"></i>
            </div>
            <div class="inline-middle" style="color: #ff595f; font-size: 1.5em; margin-left: 10px;">播放</div>
        </div>
        <div id="tags" class="menu">
            <ul>
                <li class="selected">
                    <a href="#" data-tag="songs">曲目</a>
                </li>
                <li>
                    <a href="#" data-tag="description">介紹</a>
                </li>
            </ul>
        </div>
        <div>
            <div data-tag="songs">
                <table>
                    <thead>
                        <tr>
                            <td class="wid5"></td>
                            <td class="wid45">歌曲名稱</td>
                            <td class="wid20"></td>
                            <td class="wid10">長度</td>
                            <td class="wid20">發佈時間</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in songs %}
                        <tr class='song-row' data-id="{{ song.id }}">
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <div class="small-song-icon">
                                    {% if not song.cover %}
                                        <img src="{% static 'img/no_image_photo_40X40.png' %}" height="40px" width="40px">
                                    {% else %}
                                    {% thumbnail song.cover "40x40" crop="center" as im %}
                                        <img src="{{ im.url }}" height="40px" width="40px">
                                    {% endthumbnail %}
                                    {% endif %}
                                    <i class="play-song fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
                                </div>
                                <a href="{{ song.get_absolute_url }}">
                                    {{ song.name }}
                                </a>
                            </td>
                            <td>
                                 <div class="btns" style="margin-bottom: 0px;">
                                    {% if song in request.user.like_songs.all %}
                                        <i class="song-like-btn fa fa-heart fa-1x red" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                                    {% else %}
                                        <i class="song-like-btn fa fa-heart-o fa-1x" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                                    {% endif %}
                                    <i class="fa fa-plus fa-1x">新增</i>
                                    <ul class="dropdown">
                                        <li class="song-add-queue">加入播放佇列</li>
                                        <li class="song-add-playlist">加入歌單</li>
                                    </ul>
                                </div>
                            </td>
                            <td>{{ song.length }}</td>
                            <td>{{ song.created|date:"Y-m-d" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div data-tag="description" class="description">
                {{ playlist.description|linebreaks }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}

    var pos = document.URL.indexOf('/playlist/'),
        pos_last = document.URL.indexOf('/', pos+10),
        playlist_id = document.URL.slice(pos+10, pos_last);

// tag click
    $('div#tags a').on('click', function(e){
        var $this = $(this),
            tag = $(this).data('tag');
        $(this).parent('li').addClass('selected')
               .siblings().removeClass('selected');
        $('div[data-tag=' + tag + ']').show().siblings().hide();
        e.preventDefault();
    });

// table hover-effect
    $('div[data-tag="songs"] tbody tr').hover(function(){
        $(this).css('background-color', '#e3e3e3')
               .find('i.play-song').show();
    }, function(){
            $(this).css('background-color', 'white')
                   .find('i.play-song').hide();
    });

// active play-song button
    $('tr.song-row').find('i.play-song').on('click', function(){
        var song_id = $(this).closest('tr.song-row').data('id'),
            url = "{% url 'playqueue:song_prepend' "00000" %}".replace('00000', song_id);
        $.ajax({
            type: "GET",
            url: url,
            dataType: "html",
            success : function(data){
                $(data).prependTo($('ul#play-queue'))
                       .find('i.queue-play-btn').trigger('click');
            },
            error: function(){ alert('錯誤') }
        });
    });

// handle playlist-play-btn
    $('i.playlist-play-btn').on('click', function(){
        var url = "{% url 'playqueue:playlist_exchange' "00000" %}".replace('00000', playlist_id);

        $.ajax({
            type: "GET",
            url: url,
            dataType: "html",
            success : function(data){
                $(data).prependTo(audioplayer.playQueue.empty());
                audioplayer.forwardButton.trigger('click');
            },
            error: function(){ alert('錯誤') }
        });
    });

// playlist-like-btn
    $('i.playlist-like-btn').on('click', function(){
        var $this = $(this),
            like_num = parseInt($this.text()),
            action = $this.hasClass('fa-heart-o') ? 'like': 'unlike';

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'music:playlist_like' %}",
            data: {
                'playlist_id': playlist_id,
                'action': action,
            },
            success : function(data, string, xhr){
                var content_type = xhr.getResponseHeader('Content-Type');
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    if (action == 'like') {
                        $this.removeClass('fa-heart-o').addClass('fa-heart red')
                                                       .text(' ' + (like_num+1));
                    }
                    else {
                        $this.removeClass('fa-heart red').addClass('fa-heart-o')
                                                       .text(' ' + (like_num-1));
                    }
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// follow-btn
    $('button.follow-btn').on('click', function(){
        var $this = $(this),
            username = $this.data('username'),
            action = $this.hasClass('followed') ? 'unfollow' : 'follow' ;

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'user_follow' %}",
            data: {
                'username': username,
                'action': action,
            },
            success : function(data, string, xhr){
                var content_type = xhr.getResponseHeader('Content-Type');
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    if (action == 'follow') {
                        $this.addClass('followed').text('已追蹤');
                    }
                    else {
                        $this.removeClass('followed').text('追蹤');
                    }
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// song-like-btn
    $('i.song-like-btn').on('click', function(){
        var $this = $(this),
            like_num = parseInt($this.text()),
            id = $this.closest('tr.song-row').data('id'),
            action = $this.hasClass('fa-heart-o') ? 'like': 'unlike';

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'music:song_like' %}",
            data: {
                song_id: id,
                'action': action,
            },
            success : function(data, string, xhr){
                var content_type = xhr.getResponseHeader('Content-Type');
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    if (action == 'like') {
                        $this.removeClass('fa-heart-o').addClass('fa-heart red')
                                                       .text(' ' + (like_num+1));
                    }
                    else {
                        $this.removeClass('fa-heart red').addClass('fa-heart-o')
                                                       .text(' ' + (like_num-1));
                    }
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// plus-btn toggle plus menu
    $('i.fa-plus').on('click', function(){
        var $this = $(this),
            $menu = $this.siblings('ul.dropdown');

        if ($menu.css('visibility') == 'hidden') {
            $menu.css('visibility', 'visible');
        }
        else {
            $menu.css('visibility', 'hidden');
        }
    });

//

// playlist append queue
    $('li.playlist-add-queue').on('click', function(){
        var $this = $(this),
            url = "{% url 'playqueue:playlist_append' '00000' %}".replace('00000', playlist_id);

        $.ajax({
            type: "GET",
            'url': url,
            dataType: "html",
            success : function(data){
                $(data).appendTo(audioplayer.playQueue);
                $this.parent().css('visibility', 'hidden');
                if (audioplayer.playQueue.find('li.active').length == 0) {
                    audioplayer.playQueue.children().first()
                                         .find('i.queue-play-btn').trigger('click');
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// playlist add playlist
    $('li.playlist-add-playlist').on('click', function(e){
        var $this = $(this),
            $body = $('body'),
            url = "{% url 'music:playlist_add' 'playlist' '00000' %}".replace('00000', playlist_id);

        $this.parent().css('visibility', 'hidden');

        $.ajax({
            type: "GET",
            'url': url,
            success: function(data, string, xhr){
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    $('<div></div>', { 'id': 'popout-black-cover' }).prependTo($body);
                    $('<div></div>', { 'id': 'fixed-center' }).html(data).prependTo($body);
                    popOutActivate();
                }
            },
        });


        function popOutActivate() {
            var $popOutDiv = $('div#fixed-center'),
                $popOutCover = $popOutDiv.next('#popout-black-cover'),
                cancelButton = $popOutDiv.find('button[type=button]'),
                form = $popOutDiv.find('form');

            cancelButton.on('click', function(){
                $popOutDiv.remove();
                $popOutCover.remove();
            });
            form.on('submit', function(e){
                $.ajax({
                    type: "POST",
                    'url': url,
                    data: form.serialize(),
                    success: function(data){
                        $popOutDiv.remove();
                        $popOutCover.remove();
                    },
                    error: function(){ alert('錯誤') }
                });
                e.preventDefault();
            });
        };
    });


// song add queue
    $('li.song-add-queue').on('click', function(){
        var $this = $(this),
            song_id = $this.closest('tr.song-row').data('id'),
            url = "{% url 'playqueue:song_append' '00000' %}".replace('00000', song_id);

        $.ajax({
            type: "GET",
            'url': url,
            dataType: "html",
            success : function(data){
                $(data).appendTo(audioplayer.playQueue);
                $this.parent().css('visibility', 'hidden');
                if (audioplayer.playQueue.find('li.active').length == 0) {
                    audioplayer.playQueue.children().first()
                                         .find('i.queue-play-btn').trigger('click');
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// song add playlist
    $('li.song-add-playlist').on('click', function(e){
        var $this = $(this),
            $body = $('body'),
            song_id = $this.closest('tr.song-row').data('id'),
            url = "{% url 'music:playlist_add' 'song' '00000' %}".replace('00000', song_id);

        $this.parent().css('visibility', 'hidden');

        $.ajax({
            type: "GET",
            'url': url,
            success: function(data, string, xhr){
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    $('<div></div>', { 'id': 'popout-black-cover' }).prependTo($body);
                    $('<div></div>', { 'id': 'fixed-center' }).html(data).prependTo($body);
                    popOutActivate();
                }
            },
        });


        function popOutActivate() {
            var $popOutDiv = $('div#fixed-center'),
                $popOutCover = $popOutDiv.next('#popout-black-cover'),
                cancelButton = $popOutDiv.find('button[type=button]'),
                form = $popOutDiv.find('form');

            cancelButton.on('click', function(){
                $popOutDiv.remove();
                $popOutCover.remove();
            });
            form.on('submit', function(e){
                $.ajax({
                    type: "POST",
                    'url': url,
                    data: form.serialize(),
                    success: function(data){
                        $popOutDiv.remove();
                        $popOutCover.remove();
                    },
                    error: function(){ alert('錯誤') }
                });
                e.preventDefault();
            });
        };
    });

{% endblock %}