{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load music_tags %}

{% block title %}
    {{ song.name }} - {{ song.user.profile.nickname }} | StrayVoice
{% endblock %}

{% block content %}
<div id="container">
    {% show_user_side_bar request song %}
    <div class="content-container-left">
        <div style="overflow: auto;">
            <div class="wid25 left">
                <div class="cover-playbtn">
                    {% if not song.cover %}
                        <img src="{% static 'img/no_image_photo.png' %}" height="175px" width="175px">
                    {% else %}
                    {% thumbnail song.cover "175x175" crop="center" as im %}
                        <img src="{{ im.url }}" height="175px" width="175px">
                    {% endthumbnail %}
                    {% endif %}
                        <i class="song-play-btn play-song-br fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="wid75 left">
                <h1>
                    {{ song.name }}
                    {% if not song.published %}
                    <span style="color: red;">(隱藏中)</span>
                    {% endif %}
                </h1>
                <div class="btns">
                    {% if song in request.user.like_songs.all %}
                        <i class="song-like-btn fa fa-heart fa-15x red" style="margin-right: 20px;">&nbsp;{{ song.total_likes }}</i>
                    {% else %}
                        <i class="song-like-btn fa fa-heart-o fa-15x" style="margin-right: 20px;">&nbsp;{{ song.total_likes }}</i>
                    {% endif %}
                    <i class="fa fa-plus fa-15x">新增</i>
                    <ul class="dropdown">
                        <li class="song-add-queue">加入播放佇列</li>
                        {% if song.published %}
                            <li class="song-add-playlist">加入歌單</li>
                        {% endif %}
                    </ul>
                </div>
                <table class="no-border">
                    <tr>
                        {% if not song.album.name == '未分類專輯' %}
                        <th>專輯</th>
                        <td>
                            <a href="{{ song.album.get_absolute_url }}">
                                {{ song.album.name }}
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>分類</th>
                        <td>{% get_genre_name song.genre %}</td>
                    </tr>
                    <tr>
                        <th>發佈</th>
                        <td>
                            {{ song.created|date:"Y 年 m 月 d 日" }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div>
            <div class="inline-middle">
                <i class="song-play-btn fa fa-play-circle fa-4x big-play-btn"></i>
            </div>
            <div class="inline-middle" style="color: #ff595f; font-size: 1.5em; margin-left: 10px;">播放</div>
        </div>
        <div id="tags" class="menu">
            <ul>
                <li class="selected">
                    <a href="#" data-tag="lyrics">歌詞</a>
                </li>
                <li>
                    <a href="#" data-tag="description">介紹</a>
                </li>
            </ul>
        </div>
        <div>
            <div data-tag="lyrics" class="description">
                {{ song.lyrics|linebreaks }}
            </div>
            <div data-tag="description" class="description">
                {{ song.description|linebreaks }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
    var pos = document.URL.indexOf('/songs/'),
        pos_last = document.URL.indexOf('/', pos+7),
        song_id = document.URL.slice(pos+7, pos_last);

    plusButtonToggleMenu();
    tagClickSet();
    ajaxSongUtilsSet(song_id, null, "{{ csrf_token }}");
    ajaxFollowBtnSet($('button.follow-btn'), "{{ csrf_token }}");

// handle song-play-btn
    $('i.song-play-btn').on('click', function(){
        var url = "{% url 'playqueue:song_prepend' "00000" %}".replace('00000', song_id);
        ajaxSongPlay(url);
    });
{% endblock %}