{% extends 'base.html' %}

{% block title %}首頁{% endblock %}

{% block content %}
<div id="container">
    <div id="content-container">
        <h1 style="color: red;">
            網站聲明
        </h1>
        <p class="frontpage-text">本網站僅作為求職DEMO作品，不為任何商業、盈利用途。網站也會在求職後隨之關閉。</p>

        <p class="frontpage-text">
            本網站前端設計、後端功能及構想皆參照於 StreetVoice街聲網站，僅作本人學術學習之用，並沒有任何剽竊、盈利之不良立意。<br>
            若有此類網站的使用需求，請點此跳轉 >><a class="no_ajax" href="https://tw.streetvoice.com/">StreetVoice</a><< 。
        </p>
        <p class="frontpage-text">
            本網站之音樂皆取材於<a class="no_ajax" href="https://www.youtube.com/audiolibrary/music">Youtube免費音效庫</a>。<br>
            若有任何違反著作權之虞，請來信告知。 電子信箱：jly80616@gmail.com
        </p>
        <p class="frontpage-text">
            本網站建構程式碼放置於 <a class="no_ajax" href="https://github.com/jianweiSun/strayvoice">GitHub</a> 中，若有相關功能建置問題，歡迎參照。
        </p>
    </div>
</div>
{% endblock %}