{% extends 'browse/playlist_base.html' %}

{% block domready %}

// album-play-btn
    $('i.item-play-btn').on('click', function(){
        var album_id = $(this).closest('div.item-box').data('id'),
            url = "{% url 'playqueue:album_exchange' "00000" %}".replace('00000', album_id);

        $.ajax({
            type: "GET",
            url: url,
            dataType: "html",
            success : function(data){
                $(data).prependTo(audioplayer.playQueue.empty());
                audioplayer.forwardButton.trigger('click');
            },
            error: function(){ alert('錯誤') }
        });
    });

// album-like-btn
    $('i.item-like-btn').on('click', function(){
        var $this = $(this),
            like_num = parseInt($this.text()),
            album_id = $(this).closest('div.item-box').data('id'),
            action = $this.hasClass('fa-heart-o') ? 'like': 'unlike';

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'music:album_like' %}",
            data: {
                'album_id': album_id,
                'action': action,
            },
            success : function(data, string, xhr){
                var content_type = xhr.getResponseHeader('Content-Type');
                if (content_type != "application/json" ) {
                    window.location.href = '/accounts/login/?next=' + window.location.pathname;
                }
                else {
                    if (action == 'like') {
                        $this.removeClass('fa-heart-o').addClass('fa-heart red')
                                                       .text(' ' + (like_num+1));
                    }
                    else {
                        $this.removeClass('fa-heart red').addClass('fa-heart-o')
                                                       .text(' ' + (like_num-1));
                    }
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// plus-btn toggle plus menu
    $('i.fa-plus').on('click', function(){
        var $this = $(this),
            $menu = $this.siblings('ul.dropdown');

        if ($menu.css('visibility') == 'hidden') {
            $menu.css('visibility', 'visible');
        }
        else {
            $menu.css('visibility', 'hidden');
        }
    });

// album append queue
    $('li.item-add-queue').on('click', function(){
        var $this = $(this),
            album_id = $(this).closest('div.item-box').data('id'),
            url = "{% url 'playqueue:album_append' '00000' %}".replace('00000', album_id);

        $.ajax({
            type: "GET",
            'url': url,
            dataType: "html",
            success : function(data){
                $(data).appendTo(audioplayer.playQueue);
                $this.parent().css('visibility', 'hidden');
                if (audioplayer.playQueue.find('li.active').length == 0) {
                    audioplayer.playQueue.children().first()
                                         .find('i.queue-play-btn').trigger('click');
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// album add playlist
    $('li.item-add-playlist').on('click', function(e){
        var $this = $(this),
            $body = $('body'),
            album_id = $this.closest('div.item-box').data('id'),
            url = "{% url 'music:playlist_add' 'album' '00000' %}".replace('00000', album_id);

        $this.parent().css('visibility', 'hidden');
        console.log(url);
        $.ajax({
            type: "GET",
            'url': url,
            success: function(data, string, xhr){
                // tricky way to handle redirect
                if ($('<div></div>').html(data).find('div#login-box').length) {
                    window.location.href = '/accounts/login/?next=' + window.location.pathname;
                }
                else {
                    $('<div></div>', { 'id': 'popout-black-cover' }).prependTo($body);
                    $('<div></div>', { 'id': 'fixed-center' }).html(data).prependTo($body);
                    popOutActivate();
                }
            },
        });


        function popOutActivate() {
            var $popOutDiv = $('div#fixed-center'),
                $popOutCover = $popOutDiv.next('#popout-black-cover'),
                cancelButton = $popOutDiv.find('button[type=button]'),
                form = $popOutDiv.find('form');

            cancelButton.on('click', function(){
                $popOutDiv.remove();
                $popOutCover.remove();
            });
            form.on('submit', function(e){
                $.ajax({
                    type: "POST",
                    'url': url,
                    data: form.serialize(),
                    success: function(data){
                        $popOutDiv.remove();
                        $popOutCover.remove();
                    },
                    error: function(){ alert('錯誤') }
                });
                e.preventDefault();
            });
        };
    });
{% endblock %}