{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load music_tags %}

{% block title %}
    {% get_genre_name genre %} - {% block type_title %}{% endblock %} | StrayVoice
{% endblock %}

{% block content %}
<div id="container">
    <div id="content-container-85">
        {% block type_content %}
        {% endblock %}
        <div class="margin-t30-b20">
            <div class="inline-middle">
                <i class="songlist-play-btn fa fa-play-circle fa-3x big-play-btn"></i>
            </div>
            <div class="inline-middle" style="color: #ff595f; font-size: 1.5em; margin-left: 10px;">全部播放</div>
        </div>
        <div id="songs-box">
            {% for song in songs %}
            <div class="song-box" data-id="{{ song.id }}">
                <div class="cover-playbtn">
                    {% if not song.cover %}
                        <img src="{% static 'img/no_image_photo.png' %}" height="175px" width="175px">
                    {% else %}
                    {% thumbnail song.cover "175x175" crop="center" as im %}
                        <img src="{{ im.url }}" height="175px" width="175px">
                    {% endthumbnail %}
                    {% endif %}
                        <i class="song-play-btn play-song-br fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
                </div>
                <div class="song-box-title left text-ellipsis">
                    <a href="{{ song.get_absolute_url }}">
                        {{ song.name }}
                    </a>
                </div>
                <div class="btns left" style="margin-bottom:5px;">
                    <a href="{% url 'userpage:front_page' song.user.username %}">
                        {{ song.user.profile.nickname }}
                    </a>
                </div>
                <div class="btns left">
                    {% if song in request.user.like_songs.all %}
                        <i class="song-like-btn fa fa-heart fa-1x red" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                    {% else %}
                        <i class="song-like-btn fa fa-heart-o fa-1x" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                    {% endif %}
                    <i class="fa fa-plus fa-1x">新增</i>
                    <ul class="dropdown">
                        <li class="song-add-queue">加入播放佇列</li>
                        <li class="song-add-playlist">加入歌單</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            <div style="clear: both;"></div>
        </div>
        <ul class="pagination">
            <li class="step-links">
                {% if songs.has_previous %}
                    <a href="?page={{ songs.previous_page_number }}">上一頁</a>
                {% else %}
                    <span class="unactive_page">
                        上一頁
                    </span>
                {% endif %}
            </li>
                <li class="current">
                    第  {{ songs.number }}  頁
                </li>
            <li>
                {% if songs.has_next %}
                    <a href="?page={{ songs.next_page_number }}">下一頁</a>
                {% else %}
                    <span class="unactive_page">
                        下一頁
                    </span>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block domready %}

// handle song-play-btn
    $('i.song-play-btn').on('click', function(){
        var song_id = $(this).closest('div.song-box').data('id'),
            url = "{% url 'playqueue:song_prepend' "00000" %}".replace('00000', song_id);
        $.ajax({
            type: "GET",
            url: url,
            dataType: "html",
            success : function(data){
                $(data).prependTo(audioplayer.playQueue)
                       .find('i.queue-play-btn').trigger('click');
            },
            error: function(){ alert('錯誤') }
        });
    });

// handle songlist-play-btn
    $('i.songlist-play-btn').on('click', function(){
        var tmp_array = new Array(),
            songs = $('div#songs-box').children('.song-box');

        songs.each(function(index, item){
            var song_id = $(this).data('id');
            tmp_array.push(song_id);
        });

        $.ajax({
            type: "GET",
            url: "{% url 'playqueue:queue_exchange' %}",
            dataType: "html",
            data: {ids_list: JSON.stringify(tmp_array)},
            success : function(data, status, jqXHR){
                $(data).prependTo(audioplayer.playQueue.empty());
                audioplayer.forwardButton.trigger('click');
            },
            error: function(){ alert('錯誤') }
        });
    });

// song-like-btn
    $('i.song-like-btn').on('click', function(){
        var $this = $(this),
            like_num = parseInt($this.text()),
            song_id = $(this).closest('div.song-box').data('id'),
            action = $this.hasClass('fa-heart-o') ? 'like': 'unlike';

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'music:song_like' %}",
            data: {
                'song_id': song_id,
                'action': action,
            },
            success : function(data, string, xhr){
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    if (action == 'like') {
                        $this.removeClass('fa-heart-o').addClass('fa-heart red')
                                                       .text(' ' + (like_num+1));
                    }
                    else {
                        $this.removeClass('fa-heart red').addClass('fa-heart-o')
                                                       .text(' ' + (like_num-1));
                    }
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// plus-btn toggle plus menu
    $('i.fa-plus').on('click', function(){
        var $this = $(this),
            $menu = $this.siblings('ul.dropdown');

        if ($menu.css('visibility') == 'hidden') {
            $menu.css('visibility', 'visible');
        }
        else {
            $menu.css('visibility', 'hidden');
        }
    });

// song add queue
    $('li.song-add-queue').on('click', function(){
        var $this = $(this),
            song_id = $this.closest('div.song-box').data('id'),
            url = "{% url 'playqueue:song_append' '00000' %}".replace('00000', song_id);

        $.ajax({
            type: "GET",
            'url': url,
            dataType: "html",
            success : function(data){
                $(data).appendTo(audioplayer.playQueue);
                $this.parent().css('visibility', 'hidden');
                if (audioplayer.playQueue.find('li.active').length == 0) {
                    audioplayer.playQueue.children().first()
                                         .find('i.queue-play-btn').trigger('click');
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// song add playlist
    $('li.song-add-playlist').on('click', function(e){
        var $this = $(this),
            $body = $('body'),
            song_id = $this.closest('div.song-box').data('id'),
            url = "{% url 'music:playlist_add' 'song' '00000' %}".replace('00000', song_id);

        $this.parent().css('visibility', 'hidden');
        $.ajax({
            type: "GET",
            'url': url,
            success: function(data, string, xhr){
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    $('<div></div>', { 'id': 'popout-black-cover' }).prependTo($body);
                    $('<div></div>', { 'id': 'fixed-center' }).html(data).prependTo($body);
                    popOutActivate();
                }
            },
        });

        function popOutActivate() {
            var $popOutDiv = $('div#fixed-center'),
                $popOutCover = $popOutDiv.next('#popout-black-cover'),
                cancelButton = $popOutDiv.find('button[type=button]'),
                form = $popOutDiv.find('form');

            cancelButton.on('click', function(){
                $popOutDiv.remove();
                $popOutCover.remove();
            });
            form.on('submit', function(e){
                $.ajax({
                    type: "POST",
                    'url': url,
                    data: form.serialize(),
                    success: function(data){
                        $popOutDiv.remove();
                        $popOutCover.remove();
                    },
                    error: function(){ alert('錯誤') }
                });
                e.preventDefault();
            });
        };
    });


{% endblock %}