{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %} 搜尋歌曲 | Strayvoice {% endblock %}

{% block content %}
<div id="container" class="gray">
    <div id="content-container-85">
        <div class="row">
            <div class="row-left-30" style="text-align: center;">
                <h1>請輸入搜尋字串</h1>
            </div>
            <div class="row-left-70">
                <div style="line-height: 75px;">
                    <form action="{% url 'browse:search' %}" method="get">
                        <input class="wid75" style="margin-right: 15px;" name=q maxlength="30" type="text" required>
                        <button type="submit" class="wid20">搜尋</button>
                    </form>
                </div>
            </div>
        </div>
        {% if query_str %}
            <div class="menu">
                <ul>
                    <li class="selected">
                        <a href="#">
                            含有關鍵字"{{ query_str }}"的歌曲
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <div id="songs-box">
            {% for song in songs %}
            <div class="song-box" data-id="{{ song.id }}">
                <div class="cover-playbtn">
                    {% if not song.cover %}
                        <img src="{% static 'img/no_image_photo.png' %}" height="175px" width="175px">
                    {% else %}
                    {% thumbnail song.cover "175x175" crop="center" as im %}
                        <img src="{{ im.url }}" height="175px" width="175px">
                    {% endthumbnail %}
                    {% endif %}
                        <i class="song-play-btn play-song-br fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
                </div>
                <div class="song-box-title left text-ellipsis">
                    <a href="{{ song.get_absolute_url }}">
                        {{ song.name }}
                    </a>
                </div>
                <div class="btns left" style="margin-bottom:5px;">
                    <a href="{% url 'userpage:front_page' song.user.username %}">
                        {{ song.user.profile.nickname }}
                    </a>
                </div>
                <div class="btns left">
                    {% if song in request.user.like_songs.all %}
                        <i class="song-like-btn fa fa-heart fa-1x red" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                    {% else %}
                        <i class="song-like-btn fa fa-heart-o fa-1x" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                    {% endif %}
                    <i class="fa fa-plus fa-1x">新增</i>
                    <ul class="dropdown">
                        <li class="song-add-queue">加入播放佇列</li>
                        <li class="song-add-playlist">加入歌單</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}

    plusButtonToggleMenu();
    ajaxSongUtilsSet(null, 'div.song-box', "{{ csrf_token }}");

// song-play-btn
    $('i.song-play-btn').on('click', function(){
        var song_id = $(this).closest('div.song-box').data('id'),
            url = "{% url 'playqueue:song_prepend' "00000" %}".replace('00000', song_id);
        ajaxSongPlay(url);
    });

{% endblock %}