{% extends "music/manage/manage_base.html" %}
{% load static %}
{% load music_tags %}

{% block title %}刪除專輯｜Strayvoice {% endblock %}

{% block nav_head %}
    <ul id="nav-head">
        <li>
            <a href="{% url 'music:un_album_songs' %}">管理音樂</a>
        </li>
        <li>
            <a href="{% url 'music:album_edit' album.id %}">{{ album.name }}</a>
        </li>
        <li class="unactive">
            刪除專輯
        </li>
    </ul>
{% endblock %}

{% block content %}
{% show_albums_bar all_albums album %}
<div class="row-right-75">
    <h1>刪除專輯</h1>
    <form action="" method="post">
        <p>若確認刪除專輯： {{ album.name }}</p>
        <p>請按下確認鍵。</p>
        {% csrf_token %}
        <p>
            <a href="{% url 'music:album_edit' album.id %}">
                <button class="wid20" type="button">取消</button>
            </a>
            <button class="wid20" type="submit">確認</button>
        </p>
    </form>
</div>

{% endblock %}