{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
<!--          different with base.html              -->
{% block content %}
<div id="container" class="gray">
    <div id="content-container-85">
        <div class="menu">
            <ul>
                <li>
                    <a href="{% url 'music:song_create' %}">發佈音樂</a>
                </li>
                <li {% if section == 'music_management' %}class="selected"{% endif %}>
                    <a href="{% url 'music:un_album_songs' %}">管理音樂</a>
                </li>
                <li {% if section == 'playlist_management' %}class="selected"{% endif %}>
                    {% if request.user.playlists.first %}
                        <a href="{% url 'music:playlist_edit' request.user.playlists.first.id %}">管理歌單</a>
                    {% else %}
                        <a href="{% url 'music:playlist_create' %}">管理歌單</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="row-pad-0-25">
            {% block nav_head %}
            {% endblock %}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
            {% endif %}

        </div>
        <div class="row">
            {% block manage_content %}
            {% endblock %}
        </div>
    </div>
</div>
<!------------------------------------------------->
{% endblock %}


