{% extends "music/manage/manage_base.html" %}
{% load static %}
{% load music_tags %}
{% load thumbnail %}

{% block title %}編輯歌單｜Strayvoice {% endblock %}

{% block nav_head %}
    <ul id="nav-head">
        <li>
            {% if request.user.playlists.first %}
                <a href="{% url 'music:playlist_edit' request.user.playlists.first.id %}">管理歌單</a>
            {% else %}
                <a href="{% url 'music:playlist_create' %}">管理歌單</a>
            {% endif %}
        </li>
        <li class="unactive">
            &nbsp;&nbsp;{{ playlist.name }}
        </li>
    </ul>
{% endblock %}

{% block manage_content %}
{% show_playlists_bar all_playlists playlist %}
<div class="row-right-75">
    <form action="" method="post" enctype="multipart/form-data">
        <div id="manage-form-cover">
            <img id='img-preview' width="250px" height="250px"
                 src="{% if playlist.cover %}
                      {% thumbnail playlist.cover '250x250' crop='center' as im %}
                            {{ im.url }}
                      {% endthumbnail %}
                      {% else %}
                            {% static 'img/no_image_photo.png' %}
                      {% endif %}">
            <label for="{{ form.cover.id_for_label }}" class="button-like">更新歌單封面</label>
            <div style="display: none;">{{ form.cover }}</div>
            {{ form.cover.errors }}
        </div>
        <div id="manage-form-data">
            {{ form.name.errors }}
            <div class="form-input">{{ form.name }}</div>
            <div class="form-input">{{  form.description }}</div>
            <div class="form-input">{{ form.published }}</div>
            <p style="text-align: right;">
                <a href="{% url 'music:playlist_delete' playlist.id %}">
                    <button type="button" class="wid20">刪除歌單</button>
                </a>
                <button class="wid20" type="submit">更新歌單</button>
            </p>
        </div>
        {% csrf_token %}
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <td class="wid5"></td>
                <td class="wid45">歌曲名稱</td>
                <td class="wid20">作者</td>
                <td class="wid10">長度</td>
                <td class="wid10">移至</td>
                <td class="wid10">刪除</td>
            </tr>
        </thead>
        <tbody id="sort-table">
        {% for song in songs %}
            {% if not song.published %}
                <tr class='song-row' data-id="{{ song.id }}" data-playlistsongsship_id="{{ song.playlistsongsship_id }}">
                    <td>{{ forloop.counter }}</td>
                    <td><span style="color: red; line-height:40px;">該歌曲已經被隱藏</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="song_delete_playlist btn" href="#">
                            刪除
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr class='song-row' data-id="{{ song.id }}" data-playlistsongsship_id="{{ song.playlistsongsship_id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <div class="small-song-icon">
                            {% if not song.cover %}
                                <img src="{% static 'img/no_image_photo_40X40.png' %}" height="40px" width="40px">
                            {% else %}
                            {% thumbnail song.cover "40x40" crop="center" as im %}
                                <img src="{{ im.url }}" height="40px" width="40px">
                            {% endthumbnail %}
                            {% endif %}
                            <i class="play-song fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
                        </div>
                        <a href="{{ song.get_absolute_url }}">
                            {{ song.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'userpage:front_page' song.user.username %}">
                            {{ song.user.profile.nickname }}
                        </a>
                    </td>
                    <td>{{ song.length }}</td>
                    <td>
                        <a class="song_change_playlist btn" href="#">
                            移至
                        </a>
                    </td>
                    <td>
                        <a class="song_delete_playlist btn" href="#">
                            刪除
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block domready %}
    $('#id_name').attr('placeholder', '請輸入歌單名稱');
    $('#id_description').attr('placeholder', '請輸入歌單介紹文字');

    tableHoverEffect($('tbody>tr'));

// active play-song button
    $('tr.song-row').find('i.play-song').on('click', function(){
        var song_id = $(this).closest('tr.song-row').data('id'),
            url = "{% url 'playqueue:song_prepend' "00000" %}".replace('00000', song_id);
        ajaxSongPlay(url);
    });

// img preview
    $('#id_cover').on('change', function(){
        previewIMG(this);
    });

// song_change_playlist
    $('a.song_change_playlist').on('click', function(e){
        var url = "{% url 'music:song_change_playlist' %}",
            $song_row = $(this).closest('tr.song-row'),
            id = $song_row.data('playlistsongsship_id'),
            $body = $('body');
        e.preventDefault();
        $('<div></div>', { 'id': 'popout-black-cover' }).prependTo($body);
        $('<div></div>', { 'id': 'fixed-center' })
                        .load(url, songChangePlaylistPopOutActivate).prependTo($body);

        function songChangePlaylistPopOutActivate() {
            var $popOutDiv = $(this),
                $popOutCover = $popOutDiv.next('#popout-black-cover'),
                cancelButton = $popOutDiv.find('button[type=button]'),
                form = $popOutDiv.find('form');

            cancelButton.on('click', function(){
                $popOutDiv.remove();
                $popOutCover.remove();
            });

            form.on('submit', function(e){
                var data = form.serializeArray();
                data.push({ name: 'playlistsongsship_id', value: id });

                $.ajax({
                    type: "POST",
                    'url': url,
                    data: data,
                    success: function(data){
                        $popOutDiv.remove();
                        $popOutCover.remove();
                        if(data.saved == "OK") {
                            $song_row.remove();
                            $('tbody#sort-table').children().each(function(index, item){
                                $(item).find('td').first().text(index+1);
                            });
                        }
                    },
                    error: function(){ alert('錯誤') }
                });
                e.preventDefault();
            });
        };
    });

// delete song from playlist
    $('a.song_delete_playlist').on('click', function(e){
        var $this = $(this),
            $song_row = $this.closest('tr.song-row'),
            id = $song_row.data('playlistsongsship_id');

        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "{% url 'music:playlist_delete_song' %}",
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: { 'playlistsongsship_id': id},
            success: function(){
                $song_row.remove();
                $('tbody#sort-table').children().each(function(index, item){
                    $(item).find('td').first().text(index+1);
                });
            },
            error: function(){ alert('錯誤') },
        });
    });


// re-order the songs
    $('tbody#sort-table').sortable({
        stop: function(event, ui) {
            var $this = $(this),
                playlistsongsship_obj = {};

            // update data-order and insert into song_objects
            $this.children().each(function(index, item){
                playlistsongsship_obj[$(item).data('playlistsongsship_id')] = index + 1;
            });

            // disable sortable until ajax success
            $this.sortable("disable");

            $.ajax({
                type: 'POST',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: "{% url 'music:playlist_songs_order' %}",
                contentType: 'application/json; charset=UTF-8;',
                dataType: 'json',
                data: JSON.stringify(playlistsongsship_obj),
                success: function(data){
                    $this.children().each(function(index, item){
                        $(item).find('td').first().html(index+1);
                    });
                    $this.sortable("enable");
                },
                error: function(){ alert('錯誤') }
            });
        }
    });

{% endblock %}