{% extends "music/manage/manage_base.html" %}
{% load static %}
{% load music_tags %}

{% block title %}新增專輯｜Strayvoice {% endblock %}

{% block nav_head %}
    <ul id="nav-head">
        <li>
            {% if request.user.playlists.first %}
                <a href="{% url 'music:playlist_edit' request.user.playlists.first.id %}">管理歌單</a>
            {% else %}
                <a href="{% url 'music:playlist_create' %}">管理歌單</a>
            {% endif %}
        </li>
        <li class="unactive">
            &nbsp;&nbsp;新增歌單
        </li>
    </ul>
{% endblock %}

{% block manage_content %}
{% show_playlists_bar all_playlists %}
<div class="row-right-75">
    <form action="" method="post" enctype="multipart/form-data">
        <div id="manage-form-cover">
            <img id='img-preview' width="250px" height="250px" src="{% static 'img/no_image_photo.png' %}">
            <label for="{{ form.cover.id_for_label }}" class="button-like">上傳歌單封面</label>
            {{ form.cover }}
            {{ form.cover.errors }}
        </div>
        <div id="manage-form-data">
            {{ form.name.errors }}
            <div class="form-input">{{ form.name }}</div>
            <div class="form-input">{{  form.description }}</div>
            <div class="form-input">{{ form.published }}</div>
            <p>
                <button type="submit">儲存並上傳歌單</button>
            </p>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}

{% block domready %}
    $('#id_name').attr('placeholder', '請輸入歌單名稱');
    $('#id_description').attr('placeholder', '請輸入歌單介紹文字');

    // img preview
    var readURL = function(input) {
        if (input.files[0]) {
            var reader = new FileReader(),
                file = input.files[0];

            reader.onload = function() {
                $('#img-preview').attr('src', reader.result);
            }

            reader.readAsDataURL(file);
        }
    };

    $('#id_cover').on('change', function(){
        readURL(this);
    });
{% endblock %}
