{% extends 'userpage/front_page_base.html' %}
{% load static %}
{% load thumbnail %}

{% block section_title %}
    音樂
{% endblock %}

{% block section_content %}
    {% for album in albums %}
    <div class="row" data-id="{{ album.id }}">
        <div class="row-left-30">
            <div class="cover-playbtn">
                {% if not album.cover %}
                    <img src="{% static 'img/no_image_photo.png' %}" height="250px" width="250px">
                {% else %}
                {% thumbnail album.cover "250x250" crop="center" as im %}
                    <img src="{{ im.url }}" height="250px" width="250px">
                {% endthumbnail %}
                {% endif %}
                    <i class="album-play-btn play-song-br fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="item-box-title left text-ellipsis">
                <a href="{{ album.get_absolute_url }}">
                    {{ album.name }}
                </a>
            </div>
            <div class="btns left">
                {% if album in request.user.like_albums.all %}
                    <i class="album-like-btn fa fa-heart fa-1x red" style="margin-right: 20px;">&nbsp;{{ album.total_likes }}</i>
                {% else %}
                    <i class="album-like-btn fa fa-heart-o fa-1x" style="margin-right: 20px;">&nbsp;{{ album.total_likes }}</i>
                {% endif %}
                <i class="fa fa-plus fa-1x">新增</i>
                <ul class="dropdown">
                    <li class="album-add-queue">加入播放佇列</li>
                    <li class="album-add-playlist">加入歌單</li>
                </ul>
            </div>
            <table class="no-border left">
                <tr style="font-size: 1em;">
                    <th style="width: 20%;">曲目</th>
                    <td>{{ album.get_published_songs.count }}</td>
                </tr>
                <tr style="font-size: 1em;">
                    <th style="width: 20%;">發佈</th>
                    <td>
                        {{ album.created|date:"Y 年 m 月 d 日" }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="row-left-70">
            <div>
                <div class="inline-middle">
                    <i class="album-play-btn fa fa-play-circle fa-3x big-play-btn"></i>
                </div>
                <div class="inline-middle" style="color: #ff595f; font-size: 1.5em; margin-left: 10px;">播放專輯</div>
            </div>
            <table class="songs-table">
                <thead>
                    <tr>
                        <td class="wid5"></td>
                        <td class="wid60">歌曲名稱</td>
                        <td class="wid20"></td>
                        <td class="wid15">長度</td>
                    </tr>
                </thead>
                <tbody>
                    {% for song in album.get_published_songs %}
                    <tr class='song-row' data-id="{{ song.id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <div class="small-song-icon">
                                {% if not song.cover %}
                                    <img src="{% static 'img/no_image_photo_40X40.png' %}" height="40px" width="40px">
                                {% else %}
                                {% thumbnail song.cover "40x40" crop="center" as im %}
                                    <img src="{{ im.url }}" height="40px" width="40px">
                                {% endthumbnail %}
                                {% endif %}
                                <i class="play-song fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <a href="{{ song.get_absolute_url }}">
                                {{ song.name }}
                            </a>
                        </td>
                        <td>
                             <div class="btns" style="margin-bottom: 0px;">
                                {% if song in request.user.like_songs.all %}
                                    <i class="song-like-btn fa fa-heart fa-1x red" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                                {% else %}
                                    <i class="song-like-btn fa fa-heart-o fa-1x" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                                {% endif %}
                                <i class="fa fa-plus fa-1x">新增</i>
                                <ul class="dropdown">
                                    <li class="song-add-queue">加入播放佇列</li>
                                    <li class="song-add-playlist">加入歌單</li>
                                </ul>
                            </div>
                        </td>
                        <td>{{ song.length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    {% if unalbum %}
    <div class="row" data-id="{{ unalbum.id }}">
        <div class="row-left-30">
            <div class="cover-playbtn">
                {% thumbnail user.frontpagecontent.head_portrait "250x250" crop="center" as im %}
                    <img src="{{ im.url }}" height="250px" width="250px">
                {% endthumbnail %}
                    <i class="album-play-btn play-song-br fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="item-box-title left text-ellipsis">
                    {{ unalbum.name }}
            </div>
            <div class="btns left">
                <i class="fa fa-plus fa-1x">新增</i>
                <ul class="dropdown">
                    <li class="album-add-queue">加入播放佇列</li>
                    <li class="album-add-playlist">加入歌單</li>
                </ul>
            </div>
            <table class="no-border left">
                <tr style="font-size: 1em;">
                    <th style="width: 20%;">曲目</th>
                    <td>{{ unalbum.get_published_songs.count }}</td>
                </tr>
            </table>
        </div>
        <div class="row-left-70">
            <div>
                <div class="inline-middle">
                    <i class="album-play-btn fa fa-play-circle fa-3x big-play-btn"></i>
                </div>
                <div class="inline-middle" style="color: #ff595f; font-size: 1.5em; margin-left: 10px;">播放專輯</div>
            </div>
            <table class="songs-table">
                <thead>
                    <tr>
                        <td class="wid5"></td>
                        <td class="wid60">歌曲名稱</td>
                        <td class="wid20"></td>
                        <td class="wid15">長度</td>
                    </tr>
                </thead>
                <tbody>
                    {% for song in unalbum.get_published_songs %}
                    <tr class='song-row' data-id="{{ song.id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <div class="small-song-icon">
                                {% if not song.cover %}
                                    <img src="{% static 'img/no_image_photo_40X40.png' %}" height="40px" width="40px">
                                {% else %}
                                {% thumbnail song.cover "40x40" crop="center" as im %}
                                    <img src="{{ im.url }}" height="40px" width="40px">
                                {% endthumbnail %}
                                {% endif %}
                                <i class="play-song fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <a href="{{ song.get_absolute_url }}">
                                {{ song.name }}
                            </a>
                        </td>
                        <td>
                             <div class="btns" style="margin-bottom: 0px;">
                                {% if song in request.user.like_songs.all %}
                                    <i class="song-like-btn fa fa-heart fa-1x red" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                                {% else %}
                                    <i class="song-like-btn fa fa-heart-o fa-1x" style="margin-right: 10px;">&nbsp;{{ song.total_likes }}</i>
                                {% endif %}
                                <i class="fa fa-plus fa-1x">新增</i>
                                <ul class="dropdown">
                                    <li class="song-add-queue">加入播放佇列</li>
                                    <li class="song-add-playlist">加入歌單</li>
                                </ul>
                            </div>
                        </td>
                        <td>{{ song.length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block section_script %}

    tableHoverEffect($('table.songs-table tbody tr'));

// plus-btn toggle plus menu
    $('i.fa-plus').on('click', function(){
        var $this = $(this),
            $menu = $this.siblings('ul.dropdown');

        if ($menu.css('visibility') == 'hidden') {
            $menu.css('visibility', 'visible');
        }
        else {
            $menu.css('visibility', 'hidden');
        }
    });

// handle album-play-btn
    $('i.album-play-btn').on('click', function(){
        var album_id = $(this).closest('div.row').data('id'),
            url = "{% url 'playqueue:album_exchange' "00000" %}".replace('00000', album_id);

        $.ajax({
            type: "GET",
            url: url,
            dataType: "html",
            success : function(data){
                $(data).prependTo(audioplayer.playQueue.empty());
                audioplayer.forwardButton.trigger('click');
            },
            error: function(){ alert('錯誤') }
        });
    });

// album-like-btn
    $('i.album-like-btn').on('click', function(){
        var $this = $(this),
            album_id = $this.closest('div.row').data('id'),
            like_num = parseInt($this.text()),
            action = $this.hasClass('fa-heart-o') ? 'like': 'unlike';

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'music:album_like' %}",
            data: {
                'album_id': album_id,
                'action': action,
            },
            success : function(data, string, xhr){
                var content_type = xhr.getResponseHeader('Content-Type');
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    if (action == 'like') {
                        $this.removeClass('fa-heart-o').addClass('fa-heart red')
                                                       .text(' ' + (like_num+1));
                    }
                    else {
                        $this.removeClass('fa-heart red').addClass('fa-heart-o')
                                                       .text(' ' + (like_num-1));
                    }
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// album add queue
    $('li.album-add-queue').on('click', function(){
        var $this = $(this),
            album_id = $this.closest('div.row').data('id'),
            url = "{% url 'playqueue:album_append' '00000' %}".replace('00000', album_id);

        $.ajax({
            type: "GET",
            'url': url,
            dataType: "html",
            success : function(data){
                $(data).appendTo(audioplayer.playQueue);
                $this.parent().css('visibility', 'hidden');
                if (audioplayer.playQueue.find('li.active').length == 0) {
                    audioplayer.playQueue.children().first()
                                         .find('i.queue-play-btn').trigger('click');
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// album add playlist
    $('li.album-add-playlist').on('click', function(e){
        var $this = $(this),
            album_id = $this.closest('div.row').data('id'),
            $body = $('body'),
            url = "{% url 'music:playlist_add' 'album' '00000' %}".replace('00000', album_id);

        $this.parent().css('visibility', 'hidden');

        $.ajax({
            type: "GET",
            'url': url,
            success: function(data, string, xhr){
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    $('<div></div>', { 'id': 'popout-black-cover' }).prependTo($body);
                    $('<div></div>', { 'id': 'fixed-center' }).html(data).prependTo($body);
                    popOutActivate();
                }
            },
        });


        function popOutActivate() {
            var $popOutDiv = $('div#fixed-center'),
                $popOutCover = $popOutDiv.next('#popout-black-cover'),
                cancelButton = $popOutDiv.find('button[type=button]'),
                form = $popOutDiv.find('form');

            cancelButton.on('click', function(){
                $popOutDiv.remove();
                $popOutCover.remove();
            });
            form.on('submit', function(e){
                $.ajax({
                    type: "POST",
                    'url': url,
                    data: form.serialize(),
                    success: function(data){
                        $popOutDiv.remove();
                        $popOutCover.remove();
                    },
                    error: function(){ alert('錯誤') }
                });
                e.preventDefault();
            });
        };
    });

// active play-song button
    $('tr.song-row i.play-song').on('click', function(){
        var song_id = $(this).closest('tr.song-row').data('id'),
            url = "{% url 'playqueue:song_prepend' "00000" %}".replace('00000', song_id);
        $.ajax({
            type: "GET",
            url: url,
            dataType: "html",
            success : function(data){
                $(data).prependTo($('ul#play-queue'))
                       .find('i.queue-play-btn').trigger('click');
            },
            error: function(){ alert('錯誤') }
        });
    });

// song-like-btn
    $('i.song-like-btn').on('click', function(){
        var $this = $(this),
            like_num = parseInt($this.text()),
            id = $this.closest('tr.song-row').data('id'),
            action = $this.hasClass('fa-heart-o') ? 'like': 'unlike';

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'music:song_like' %}",
            data: {
                song_id: id,
                'action': action,
            },
            success : function(data, string, xhr){
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    if (action == 'like') {
                        $this.removeClass('fa-heart-o').addClass('fa-heart red')
                                                       .text(' ' + (like_num+1));
                    }
                    else {
                        $this.removeClass('fa-heart red').addClass('fa-heart-o')
                                                       .text(' ' + (like_num-1));
                    }
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// song add queue
    $('li.song-add-queue').on('click', function(){
        var $this = $(this),
            song_id = $this.closest('tr.song-row').data('id'),
            url = "{% url 'playqueue:song_append' '00000' %}".replace('00000', song_id);

        $.ajax({
            type: "GET",
            'url': url,
            dataType: "html",
            success : function(data){
                $(data).appendTo(audioplayer.playQueue);
                $this.parent().css('visibility', 'hidden');
                if (audioplayer.playQueue.find('li.active').length == 0) {
                    audioplayer.playQueue.children().first()
                                         .find('i.queue-play-btn').trigger('click');
                }
            },
            error: function(){ alert('錯誤') }
        });
    });

// song add playlist
    $('li.song-add-playlist').on('click', function(e){
        var $this = $(this),
            $body = $('body'),
            song_id = $this.closest('tr.song-row').data('id'),
            url = "{% url 'music:playlist_add' 'song' '00000' %}".replace('00000', song_id);

        $this.parent().css('visibility', 'hidden');

        $.ajax({
            type: "GET",
            'url': url,
            success: function(data, string, xhr){
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    $('<div></div>', { 'id': 'popout-black-cover' }).prependTo($body);
                    $('<div></div>', { 'id': 'fixed-center' }).html(data).prependTo($body);
                    popOutActivate();
                }
            },
        });


        function popOutActivate() {
            var $popOutDiv = $('div#fixed-center'),
                $popOutCover = $popOutDiv.next('#popout-black-cover'),
                cancelButton = $popOutDiv.find('button[type=button]'),
                form = $popOutDiv.find('form');

            cancelButton.on('click', function(){
                $popOutDiv.remove();
                $popOutCover.remove();
            });
            form.on('submit', function(e){
                $.ajax({
                    type: "POST",
                    'url': url,
                    data: form.serialize(),
                    success: function(data){
                        $popOutDiv.remove();
                        $popOutCover.remove();
                    },
                    error: function(){ alert('錯誤') }
                });
                e.preventDefault();
            });
        };
    });

{% endblock %}