{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load music_tags %}

{% block title %}
    {% block section_title %}{% endblock %} - {{ user.profile.nickname }}｜Strayvoice
{% endblock %}

{% block content %}
<div id="container" class="gray">
        <div id="content-container">
            <div class="profile_row">
                <div id="profile" class="wrapper left">
                    {% if user.frontpagecontent.head_portrait %}
                        {% thumbnail user.frontpagecontent.head_portrait "340x340" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="im.height">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'img/default_head_portrait_big.jpeg' %}" width="340px" height="340px">
                    {% endif %}
                    {% get_user_head_portrait_form request user %}
                </div>
                <div id="profile-right">
                    <div class="profile-right-half">
                        <h1 style="display: inline-block; vertical-align: middle;">{{ user.profile.nickname }}</h1>
                        <div class="inline-middle right" style="width: 30%; margin-top: 22px;">
                            {% if request.user != user %}
                                {% if user.profile in request.user.profile.followings.all %}
                                    <button class="follow-btn followed" type="button" data-username="{{ user.username }}">已追蹤</button>
                                {% else %}
                                    <button class="follow-btn" type="button" data-username="{{ user.username }}">追蹤</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="profile-right-half">
                        <table class="no-border">
                            <thead>
                                <tr>
                                    <td class="wid20">音樂</td>
                                    <td class="wid20">粉絲</td>
                                    <td class="wid20">追蹤中</td>
                                    <td class="wid40"></td>
                                </tr>
                            </thead>
                            <tbody style="border-top: 20px solid white;">
                                <tr>
                                    <td class="num">{% get_published_songs_number user %}</td>
                                    <td class="num">{{ user.profile.followers.count }}</td>
                                    <td class="num">{{ user.profile.followings.count }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li {% if section == 'music' %}class="selected"{% endif %}>
                        <a href="{% url 'userpage:front_page' user.username %}">音樂</a>
                    </li>
                    <li {% if section == 'playlist' %}class="selected"{% endif %}>
                        <a href="{% url 'userpage:front_page_playlist' user.username 'latest' %}">歌單</a>
                    </li>
                    <li {% if section == 'about' %}class="selected"{% endif %}>
                        <a href="{% url 'userpage:front_page_about_followings' user.username %}">關於</a>
                    </li>
                </ul>
            </div>
            {% block section_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block domready %}

// profile hover effect
    $('#profile').hover(function() {
        $(this).find('form').fadeIn(100);
    }, function() {
        $(this).find('form').fadeOut(100);
    });

// auto submit
    $('#id_head_portrait').on('change', function() {
        $(this).parents('form').submit();
    });

// follow-btn
    $('button.follow-btn').on('click', function(){
        var $this = $(this),
            username = $this.data('username'),
            action = $this.hasClass('followed') ? 'unfollow' : 'follow' ;

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "{% url 'user_follow' %}",
            data: {
                'username': username,
                'action': action,
            },
            success : function(data, string, xhr){
                if (xhr.status == 278) {
                    var url = xhr.getResponseHeader('Location'),
                        pos = url.indexOf('?next='),
                        redirect_url = url.slice(0, pos+6) + window.location.pathname;
                    $.get(redirect_url, function(data){
                        dataAjaxLoad(data, redirect_url);
                    })
                }
                else {
                    if (action == 'follow') {
                        $this.addClass('followed').text('已追蹤');
                    }
                    else {
                        $this.removeClass('followed').text('追蹤');
                    }
                }
            },
            error: function(){ alert('錯誤') }
        });
    });
    {% block section_script %}
    {% endblock %}
{% endblock %}
