{% load static %}
{% load thumbnail %}

{% for song in queue %}
<li data-id="{{ song.id }}" data-src="{{ song.file.url }}">
    <div class="small-song-icon" style="height: 55px; width: 55px;">
            {% if not song.cover %}
                <img src="{% static 'img/no_image_photo_40X40.png' %}" height="45px" width="45px">
            {% else %}
            {% thumbnail song.cover "55x55" crop="center" as im %}
                <img src="{{ im.url }}" height="45px" width="45px">
            {% endthumbnail %}
            {% endif %}
        <i class="queue-play-btn play-song fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
    </div>
    <div class="in-line-55">
        <a href="{{ song.get_absolute_url }}">
            {{ song.name }}
        </a>
        <a href="{% url 'userpage:front_page' song.user.username %}">{{ song.user.profile.nickname }}</a>
    </div>
    <div class="close-wrapper">
        <i class="fa fa-close fa-1x div-center"></i>
    </div>
    <div class="right in-line-55 like-wrapper">
        {% if song in request.user.like_songs.all %}
            <i class="queue-like-btn fa fa-heart fa-1x div-center red">&nbsp;{{ song.total_likes }}</i>
        {% else %}
            <i class="queue-like-btn fa fa-heart-o fa-1x div-center">&nbsp;{{ song.total_likes }}</i>
        {% endif %}
    </div>
</li>
{% endfor %}